[submodule "third_party/SDL_ttf"]
	path = third_party/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/libyaml"]
	path = third_party/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "third_party/utf8proc"]
	path = third_party/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "third_party/Vulkan-Headers"]
	path = third_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
